{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Example
{% endblock%}

{% block content %}
<style>
    #quiz{
        display: none;
    }
</style>
<p>
   Now the following two cases are equally likely. And Red Urn and Black Urn are equally likely.
</p>
<br>
    The following might be the balls drawn by the computer:
    <br>
    <img src= "{% static "intro_part/Urn_balls.png" %}" height="300">
</p>
<p>
    <br>
    12 red balls and 8 black balls are drawn.
</p>
<div id="ex_free_Q">
    <p>{% formfield player.free_Q %}</p>
</div>
<div id="quiz">
    <p>
        If you choose yes in the above question, you will be asked the following question:
        For each row, please indicate whether you would know the value of Q at that price.
        <br>
        <img src="{% static "intro_part/Urn_QQuiz_Ans.png" %}" height="300">
    </p>
    <p>
        Suppose you made choices like above, and the computer draws 35. Then you will pay 35 ECUs,
        and keep 100-35=65 ECUs for that round. We will then tell you the value of Q. Suppose the computer
        draws 60. Then you will keep your 100 ECUs, and we won’t tell you the value of Q.
    </p>
    <p>
        If the computer draws 65. Then you can keep 100 ECUs for that round. We will not tell you the value of Q in
        that round
    </p>
</div>
<p>
    Next we will ask you to guess the color of the urn.
</p>
<p>
    {% formfield player.color %}
</p>
<script>

    document.getElementById('ex_free_Q').addEventListener('change', function (e) {
        if (e.target.value === "Yes") {
            $("#quiz").show();
        }
        if (e.target.value === "No") {
            $("#quiz").hide();
        }
    });

</script>


    {% next_button %}

{% endblock %}
