{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
<p>
   In the beginning of each round, the computer will randomly draw the value of Q and then randomly choose an Urn
    according to the above probabilities. However, the chosen Q and the colour of the Urn will not be revealed to you.
</p>
<p>
   From the chosen Urn, the computer will then randomly draw 20 balls with replacement. (A draw with replacement means
    that after a ball is drawn, it will be put back into the Urn before the next draw is made.) The colours of the
    drawn balls will be displayed.
</p>
<p>
    Your main task at the end of each round is to guess whether the balls are drawn from the Red Urn or Black Urn.
    Your answer will be compared with the actual urn chosen for that round. You will be paid an additional 100 ECUs
    if your answer is correct, and 0 ECUs if you are incorrect.
</p>

    {% next_button %}

{% endblock %}
