{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
<p>
    Before you guess, there is an opportunity for you to know Q, which may help you guess. You will be asked the following 2 questions.
</p>
<p>
    First, do you want to know Q? If you choose no, then we will not show you the value of Q for sure. You can keep your 100 ECUs endowment.
</p>
<p>
    Second, if you choose yes, you will be asked how much you are willing to pay for the information about Q out of your 100 ECUs endowment. Depending on your answer, you may or may not know the value of Q. For example, this is what you will see if you choose yes in the first question.
</p>
<p>
    <img src= "{% static "intro_part/Urn_QQuiz.png" %}" height="350">
</p>
<p>
    After you make your choices on this list, the computer will draw a number between 0 and 100. If you choose Yes at prices higher than or equal to that number, then you will pay a price equal to the random number out of your 100 ECUs endowment, and we will tell you the value of Q. If you choose Yes at prices lower than that number, then you won’t pay anything, and we won’t tell you the value of Q
</p>
<p>
    On this list, for instance, “Pay 0 ECUs to know the value of Q” means getting Q for free; “Pay 10 ECUs to know the value of Q” means paying 10 ECUs for Q and keep 90 ECUs to yourself. Choosing Yes
</p>
    {% next_button %}

{% endblock %}
