{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
<p>
    Before we begin, we will first go through a practice round which will not count towards your monetary payoff.
</p>
<p>
    In each round you will be shown a table with the 10 possible urns, similar to the one below. In this case, for Round 0, Q=8 with probability 50%, and Q=5 with probability 50%. The top row shows the high Q urns were Q=8, and the bottom row shows the low Q urns were Q=5. In addition, out of the 5 urns with higher Q, 2 are red and 3 are black; out of the 5 urns with lower Q 2 are red and 3 are black. The number of red urns in high-Q urns and the number of red urns in low-Q urns are always equal.
</p>
<p><img src= "{% static "intro_part/Round0_unknown.jpg" %}" height="400"></p>


    {% next_button %}

{% endblock %}
