{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Example
{% endblock%}

{% block content %}
<div id="free_yes" >
{% if player.free_Q == 'Yes' %}
    <p>
        If you choose yes in the above question, you will be asked the following question:
        For each row, please indicate whether you would know the value of Q at that price.
        <img src="{% static "intro_part/Urn_QQuiz_Ans.png" %}" height="400">
    </p>
    <p>
        Suppose you made choices like above, and the computer draws 35. Then you will pay 35 ECUs,
        and keep 100-35=65 ECUs for that round. We will then tell you the value of Q. Suppose the computer
        draws 60. Then you will keep your 100 ECUs, and we won’t tell you the value of Q.
    </p>
    <p>
        If the computer draws 65. Then you can keep 100 ECUs for that round. We will not tell you the value of Q in
        that round
    </p>
{% endif %}
</div>
{% if player.free_Q == 'No' %}
<p>
    Because you select No, then even if information about Q is free, you will not see it.
</p>
<h4>Please try 'Yes' to enable the next button.</h4>

{% endif %}



<button id='next_btn' class="otree-btn-next btn btn-primary next-button otree-next-button">N</button>


<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                //disable the submit button
                $("#next_btn").attr("disabled", true);
        });
        </script>
{% endblock %}