{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
<p>
    The whole experiment contains 40 rounds, equally divided into 4 Blocks. The value of Q remains constant within each Block, but may vary between Blocks. In the beginning of each Block, we will show you a table with information that applies to the following Block.
</p>
<p>
    We will first show you a practice round, Round 0, which will not count towards your monetary payoff. The table below means in Round 0, Q=8. In addition, out of the 5 urns, 3 are red and 2 are black.
</p>
<p><img src= "{% static "intro_part_trt/control_0.jpg" %}" height="400"></p>


    {% next_button %}

{% endblock %}
