{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<p>
    In the beginning of each round, you will be given an endowment of 100 ECUs. Any gain or loss from that round will be
    added to this amount. The amount remaining at the end of the round will not be carried over to the following round.
    At the end of the experiment 1 round will be randomly selected. Your ending balance in the selected round will
    determine your final payment.
</p>
<p>
    We will show you 5 urns in each round, which are either red or black, and only one urn will be selected for that round.
</p>

    {% next_button %}

{% endblock %}
